<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flight Search</title>
  <style>
    body {
      background-color: #B4D4FF; /* Set the background color for the entire page */
      margin: 0; /* Remove default margin */
      padding: 0; /* Remove default padding */
    }

    .container {
      padding: 20px; /* Add padding to the container */
    }
  </style>
</head>
<body>
  <div class="container">

    <h1 class="mt-3 text-center">Search for flights</h1>
    <div class="d-flex justify-content-end mt-3">
    </div>

    <div class="mt-3">
      <form [formGroup]="flightSearchForm" (ngSubmit)="search()" style="margin-bottom: 20px;">
        <div class="form-group">
          <label for="from_city">Source:</label>
          <input type="text" class="form-control" id="from_city" name="from_city" formControlName="from_city">
        </div>
        <div class="form-group">
          <label for="to_city">Destination:</label>
          <input type="text" class="form-control" id="to_city"  name="to_city" formControlName="to_city">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>

    <ng-container *ngIf="filteredFlights && filteredFlights.length > 0; else noFlights">
      <div class="row">
        <div class="col-md-4" *ngFor="let fl of filteredFlights">
          <div class="card mt-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsIaQn5Pv9R4vUHR5MoXleGC0_xEHza2CJhw&s" class="card-img-top" alt="Flight Image">
            <div class="card-body">
              <h5 class="card-title">{{ fl.aeroName }}</h5>
              <p class="card-text"><strong>Source:</strong> {{ fl.from_city }}</p>
              <p class="card-text"><strong>Destination:</strong> {{ fl.to_city }}</p>
              <p class="card-text"><strong>Departure:</strong> {{ fl.departure }}</p>
              <p class="card-text"><strong>Arrival:</strong> {{ fl.arrival }}</p>
              <p class="card-text"><strong>Fare:</strong> {{ fl.fare }}</p>
              <p class="card-text"><strong>Seating Capacity:</strong> {{ fl.seatingCapacity }}</p>
              <a href="#" class="btn btn-primary">Book Ticket</a>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noFlights>
      <p>No flights available for the selected criteria.</p>
    </ng-template>

  </div>
</body>
</html>
