
<div class="container">
  <h1 class="mt-3">Edit Flight Details</h1>

  <ng-container *ngIf="flightDetails; else notFound">
    <form [formGroup]="flightForm" (ngSubmit)="onFormSubmit()">
      <div class="mt-2">
        <div class="mt-3">
          <label class="form-label" for="aeroId">Aeroplane Id</label>
          <input type="text" formControlName="aeroId" class="from-control">
        </div>

        <div class="mt-3">
          <label class="form-label" for="aeroName">Aeroplane Name</label>
          <input type="text" formControlName="aeroName" class="from-control">
        </div>

        <div class="mt-3">
          <label class="form-label" for="from_city">Source</label>
          <input type="text" formControlName="from_city" class="from-control">
        </div>

        <div class="mt-3">
          <label class="form-label" for="to_city">Destination</label>
          <input type="text" formControlName="to_city" class="from-control">
        </div>

        <div class="mt-3">
          <label class="form-label" for="departure">Departure</label>
          <input type="text" formControlName="departure" class="from-control">
        </div>

        <div class="mt-3">
          <label class="form-label" for="arrival">Arrival</label>
          <input type="text" formControlName="arrival" class="from-control">
        </div>

        <div class="mt-3">
          <label class="form-label" for="fare">Fare</label>
          <input type="text" formControlName="fare" class="from-control">
        </div>

        <div class="mt-3">
          <label class="form-label" for="seatingCapacity">Seating Capacity</label>
          <input type="text" formControlName="seatingCapacity" class="from-control">
        </div>
      </div>
      <button type="submit">Submit</button>
    </form>
  </ng-container>

  <ng-template #notFound>
    <div class="alert alert-warning" role="alert">
      No Flight Details Found.
    </div>
  </ng-template>
</div>
